{ 
  "presets": [
    "es2015",
    "env"
  ],
  // "plugins": ["transform-object-rest-spread"],
  "ignore": [
    "node_modules"
  ],
  "plugins": [
    "transform-object-rest-spread",
    ["transform-runtime", {
      "regenerator": true
    }]
  ]
}
